.App{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-align: center;
}

#gameScreen{
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

img{
    height: 300px;
}

#imageContainer{
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-bottom: 50px;
}

#optionsContainer{
    display: flex;
    gap: 10%;
    justify-content: center;    
}

.button{
    cursor: pointer;
    border: 1px solid #333;
    background-color: rgb(106, 161, 238);
    padding: 10px;
    border-radius: 4px;
}

.option{
    transition: all 250ms ease-in 100ms;
}

#next{
    background-color: rgb(109, 107, 233);
    font-size: larger;
    width: 40%;
    margin-top: 15%;
}

.correct{
    background-color: rgb(84, 244, 108);
}

.incorrect{
    background-color: rgb(242, 72, 72);
}

.option > p{
    margin: 0;
}